#include "resource.h"
#include <windows.h>
#include "Version.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG | VS_FF_PRERELEASE
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Hashbang Productions"
            VALUE "FileDescription", "Legacy Update"
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", "LegacyUpdate.exe"
            VALUE "LegalCopyright", "© Hashbang Productions. All rights reserved."
            VALUE "OriginalFilename", "LegacyUpdate.exe"
            VALUE "ProductName", "Legacy Update"
            VALUE "ProductVersion", VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APPICON             ICON                    "../LegacyUpdate/icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// XML
//

IDR_CPLTASKS            XML                     "CplTasks.xml"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_LEGACYUPDATEOCX     "Legacy Update Control"
    IDS_LEGACYUPDATE        "Legacy Update"
    IDS_CHECKFORUPDATES     "Check for updates"
    IDS_CHECKFORUPDATES_ALT "Check for software and driver updates via Legacy Update."
    IDS_IENOTINSTALLED      "Internet Explorer is not installed. Use Optional Features in Control Panel to install it before using Legacy Update."
END


/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

ID_MANIFEST             RT_MANIFEST             "manifest.xml"

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
